<div class="container">
  <h2>Projects</h2>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Tasks count</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.tasks.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
